<?xml version="1.0" encoding="utf-8"?>
<module loadFromBin="false" name="WelcomeDAM" clientResourceRelativePath="1.0.0">
	<assemblies>
		<add assembly="WelcomeDAM" />
	</assemblies>
	<clientResources>
		<add name="welcomedam" path="ClientResources/scripts/welcomedaminitializer.js" resourceType="Script" sortIndex="1" />
		<add name="welcomedam" path="ClientResources/scripts/editors/welcomedamassetselector.js" resourceType="Script" sortIndex="1" />
	</clientResources>
	<dojo>
		<!-- Add a mapping from alloy to ~/ClientResources/Scripts to the dojo loader configuration -->
		<!-- <packages> -->
		<!-- 	<add name="WelcomeDAM" location="ClientResources/scripts" /> -->
		<!-- </packages> -->
		<paths>
			<add name="welcomedam" path="ClientResources/scripts" />
		</paths>
	</dojo>
	<clientModule initializer="welcomedam/welcomedaminitializer">
		<moduleDependencies>
			<add dependency="CMS" type="RunAfter" />
		</moduleDependencies>
	</clientModule>
	<!--routes>
		<route url="{moduleArea}/{controller}/{action}/{id}" />
	</routes-->
</module>